asgiref==3.4.1
Django==3.2.7
djangorestframework==3.12.4
mysqlclient==2.0.3
pytz==2021.1
sqlparse==0.4.2
mxnet
torch==1.8.1
torchvision
transformers==4.8.2
gluonnlp
sentencepiece==0.1.91
pandas
xlrd
openpyxl
git+https://github.com/SKTBrain/KoBERT.git#egg=kobert_tokenizer&subdirectory=kobert_hf
scikit-learn==0.20.3
